.periodic-table {
  display: grid;
  margin: 50px;
  grid-template-columns: repeat(18, auto);
  grid-template-rows: repeat(10, auto);
}

.periodic-table-cell {
  border-radius: 5px;
  width: 70px;
  aspect-ratio: 1 / 1.1;
  overflow: hidden;
  transition:
    scale 30ms,
    opacity 250ms;

  padding: 5px;
  margin: 1px;

  &:not(.blank-cell) {
    border: 2px solid rgb(25, 25, 25);
    cursor: pointer;
    color: lightgray;

    &.selected {
      border: 2px greenyellow solid;
    }

    &:hover {
      z-index: 2;
      opacity: 0.8;
      scale: 1.1;
      border: 2px lightblue solid;
    }
  }

  &.nonmetal {
    background-color: green;
  }
  &.noble-gas {
    background-color: #4a266c;
  }
  &.alkali-metal {
    background-color: brown;
  }
  &.alkaline-earth-metal {
    background-color: rgb(132, 96, 17);
  }
  &.metalloid {
    background-color: teal;
  }
  &.halogen {
    background-color: darkgreen;
  }
  &.metal {
    background-color: #003666;
  }
  &.transition-metal {
    background-color: maroon;
  }
  &.lanthanoid {
    background-color: brown;
  }
  &.actinoid {
    background-color: #732e4c;
  }
  &.post-transition-metal {
    background-color: rgb(34, 34, 34);
  }

  &.standard-state-solid {
    .cell-symbol {
      color: unset;
    }
  }
  &.standard-state-liquid {
    .cell-symbol {
      color: lightblue;
    }
  }
  &.standard-state-gas {
    .cell-symbol {
      color: red;
    }
  }

  &.group-selected-false {
    opacity: 0.1;
  }

  .cell-atomicNumber {
    font-size: 18px;
    font-weight: 700;
  }
  .cell-symbol {
    font-size: 22px;
    font-weight: 700;
  }
  .cell-name {
    font-size: smaller;
  }
  .cell-atomicMass {
    font-size: small;
  }
}

.periodic-table-row {
  grid-column: 18;
}

.blank-row {
  min-height: 40px;
}
